<h4>Miscellaneous Equipment Purchase</h4>
<p class="text-error">NOTE: You can purchase a lot of equipment directly via the P-Card.  Contact the EP if you are unsure.  If you do purchase equipment directly just make sure to let the EP barcode and inventory any equipment that you purchase.</p>
<ul>
  <li>Click on <%= link_to "Purchase new equipment", new_purchase_path %> from the <%= link_to "home page", root_path %> and select Other.</li>
  <li>This will take you to form to add an item to the inventory.</li>
  <li>Fill out as much information as is available and make sure to leave Purchased and Received unchecked.</li>
</ul>