<%- added_items ||= [] -%>
<ol>
  <li>Click on <%= link_to "Purchase new equipment", new_purchase_path %> from the <%= link_to "home page", root_path %>.</li>
  <li>Select the model (Mac or PC).</li>
  <li>Choose the make of computer you would like to purchase.</li>
  <li>
    Fill out the available information about the computer and save.
    <ul><li><p class="muted">This initial information should include User, Department, and Location.</p></li></ul>
  </li>
  <%= "<li>#{added_items.join('</li><li>')}</li>".html_safe unless added_items.blank?  -%>
</ol>