<div class="purchase_option">
  <div class="row heading">
    <div class="offset2 span8 half left">
      <h3><%= option.model %></h3>
    </div>
    <div class="span2 half right selector">
      <%= link_to("Select", new_item_path(make: option.make, model: option.model, purchase_option_id: option.id), class: "pull-right btn", id: "option-#{option.id}") %>
    </div>
  </div>
  <div class="row">
    <div class="span2 hidden-phone counter">
      <h3><%= option_counter +1  %>)</h3>
    </div>
    <div class="span10">
      <pre><%= option.description %></pre>
    </div>
  </div>
</div>