<div class="navbar navbar-static-top">
  <div class="header">
    <div class="header-top"></div>
    <div class="header-content">
      <div class="container">
        <h1>Operation HeliCat</h1>
      </div>
    </div>
    <div class="header-bottom"></div>
  </div>
</div>