<div class="span3">
  <div class="well sidebar-navigation">
    <span class='btn btn-small visible-phone collapse-toggle' data-behavior='responsive-collapse-toggle' data-target='.responsive-collapse-nav'>
      <i class="icon-plus"></i>
    </span>
    <ul class="nav nav-list responsive-collapse-nav">
      <%= render_item_options %>
      <%- if current_user.admin? -%>
        <li class="nav-header">Admin:</li>
        <li class="highlight">
          <%= link_to "Add Item", new_item_path, :"data-toggle" => "tab" %>
        </li>
        <li class="highlight">
          <%= link_to "Add Purchase Option", new_purchase_option_path, :"data-toggle" => "tab" %>
        </li>
        <li class="divider"></li>
      <%- end -%>
      <%= render "inventory/filter_by" %>
    </ul>
  </div>
</div>