<div class="row home-text">
  <div class="span4">
    <div class="hero-unit">
      <h3><%= link_to "Inventory", "#" %></h3>
    </div>
  </div>
  <div class="span4">
    <div class="hero-unit">
      <h3><%= link_to "Purchase a new computer", "#" %></h3>
    </div>
  </div>
  <div class="span4">
    <div class="hero-unit">
      <h3><%= link_to "My computers", "#" %></h3>
    </div>
  </div>
</div>