<div class="row">
  <div class="span9">
    <h3>
      <%= link_to("#{purchase_option_counter+1}. #{purchase_option.model}", purchase_option_path(purchase_option)) %>
      <%- unless purchase_option.active -%>
        <span>INACTIVE</span>
      <%- end -%>
    </h3>
  </div>
</div>