<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header">Options:</li>
    <li><%= link_to("Edit", "#") %></li>
    <li><%= link_to("Swap", "#") %></li>
    <li><%= link_to("Delete", "#")%>
  </ul>
</div>