<%- items_partial = (@items.length == 1) ? "item" : "brief_item" -%>
<%- if params["received"] and params["received"] == "f" -%>
 <h2><%= pluralize(@items.length, "Item") %> yet to be received</h2>
<%- end -%>
<div class="row">
  <div class="span9 offset3">
    <%= render partial: "items/#{items_partial}", collection: @items %>
  </div>
</div>