<%- items_partial = (@items.length == 1) ? "item" : "brief_item" -%>
<div class="row">
  <%= render "shared/sidebar_navigation" %>
  <div class="span9">
    <%= render partial: "items/#{items_partial}", collection: @items %>
  </div>
</div>