<%- items_partial = (@items.length == 1) ? "item" : "brief_item" -%>
<div class="row">
  <div class="span3">
    <div class="well inventory_options responsive-collapse">
      <ul class="nav nav-list">
        <%= render "inventory/filter_by" %>
      </ul>
    </div>
  </div>
  <div class="span9">
    <%= render partial: "items/#{items_partial}", collection: @items %>
  </div>
</div>