<%= form_tag("", method: "GET") do %>
  <div class="input-append">
    <%= text_field_tag :value, params["value"], :"data-typeahead-options" => @options.map{|option| option.send(column) }.join(","), :placeholder => @options.first.try(:send, column)  %>
    <%= button_tag "Filter", class: "btn" %>
  </div>
<%- end -%>