.sidebar-navigation {
	.nav {
		li {
			&.highlight {
				a, input {
				  color: red;	
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.filter-by {
		cursor: pointer;
	}
}
.purchase_option {
	margin-bottom: 18px;
	&.last {
		margin-bottom: 0;
	}
	.counter {
		text-align: center;
		h3 {
		  font-size: 8em;
		  color: #EEEEEE;
	  }
	}
	.heading {
		.select-widget {
			.btn {
				margin: 15px 0;
			}
		}
		.half {
			@media (max-width: 767px) {
				width: 50%;
				&.right {float: right;}
				&.left  {float: left;}
			}
		}
		.three-quarters {
			@media (max-width: 767px) {
				width: 75%;
				&.right {float: right;}
				&.left  {float: left;}
			}
		}
		.one-quarter {
			@media (max-width: 767px) {
				width: 25%;
				&.right {float: right;}
				&.left  {float: left;}
			}
		}
	}
}
.inventory-filters {
  input[type='text'], select {
    width: auto;
  }
}