.sidebar-navigation {
  .collapse-toggle {
    float: right;
    margin-top: -3px;
  }
  @media (max-width: 767px) {
    .responsive-collapse-nav {
      display: none;
    }
  }
	.nav {
		li {
			&.highlight {
				a, input {
				  color: red;	
				}
			}
		}
	}
}
.purchase_option {
	margin-bottom: 18px;
	&.last {
		margin-bottom: 0;
	}
	.counter {
		text-align: center;
		h3 {
		  font-size: 8em;
		  color: #EEEEEE;
	  }
	}
	.heading {
		.select-widget {
			.btn {
				margin: 15px 0;
			}
		}
		.half {
			@media (max-width: 767px) {
				width: 50%;
				&.right {float: right;}
				&.left  {float: left;}
			}
		}
		.three-quarters {
			@media (max-width: 767px) {
				width: 75%;
				&.right {float: right;}
				&.left  {float: left;}
			}
		}
		.one-quarter {
			@media (max-width: 767px) {
				width: 25%;
				&.right {float: right;}
				&.left  {float: left;}
			}
		}
	}
}
.inventory-filters {
  @media (max-width: 767px) {
    text-align: center;
  }
  input[type='text'], select {
    width: auto;
  }
  @media (max-width: 980px) {
    .value-filter, .category-select {
      display: block;
    }
    .category-select {
      margin-top: 5px;
    }
  }
}