.item_options, .sidebar-navigation {
	padding: 8px;
	.nav-list {
		padding: 7px;
		.divider {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	form {
		margin: 0;
		input[type='submit'] {
			display: block;
			width: 100%;
			text-align: left;
			margin-left: -15px;
			margin-right: -15px;
			padding-left: 15px;
		}
	}
}
.item-form {
	#item_swap_cycle_number {
		width: 50px;
	}
	#item_swap_cycle_span {
		width: 165px;
	}
}

.warranty {
	&.expired {
		color: red;
		text-decoration: line-through;
	}
	&.almost-expired {
		color: red;
	}
	&.expires-within-year {
		color: #FFD700;
	}
	&.expires-next-year {
		color: blue;
	}
}

.button-as-link {
	border: 0;
	margin: 0;
	padding: 0;
	background: none;
	color: #08c;
	&:hover {
		color: darken(#08c, 15%);
	}
}